beautifulsoup4
brotlipy==0.7.0
certifi==2021.5.30
cffi
chardet
click
colorama==0.4.4
cryptography
cycler==0.10.0
Flask
idna
importlib-metadata
itsdangerous
Jinja2
kiwisolver==1.3.1
lxml
MarkupSafe
matplotlib==3.4.2
numpy==1.21.1
Pillow==8.3.1
prettytable==2.1.0
pycparser
pyecharts==1.9.0
PyMySQL
pyOpenSSL
pyparsing==2.4.7
PySocks
python-dateutil==2.8.2
requests
simplejson==3.17.3
six
soupsieve
urllib3
watchdog==2.1.3
wcwidth==0.2.5
Werkzeug
win-inet-pton
wincertstore==0.2
zipp
